/*font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Inconsolata', monospace;*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #626262;
}	
/*header start*/
header{
	padding: 20px 0;
}
.wrapper{
	overflow: hidden;
	width: 90%;
	margin:0 auto; 
}
.logo{
	float: left;
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	font-size: 30px;
	width: 15%;
	margin-top: 12px;
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
	width: 60%;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	font-size: 16px;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	display: inline-block;
	margin: 0 55px;
	padding: 5px 0;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	color: black;
} 
/*header end*/
/*banner start*/
.Banner{}
.b-img{}
.b-img img{
	width: 100%;
}

/*banner end*/

/*about start*/
.about{
	padding: 50px 0;
}
.wrapper2{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid black;*/
}
.a-contant{}
.light{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
}
.h1{
	font-weight: 400;
	font-size: 30px;
}
.text{
	text-align: justify;
	line-height: 25px;
	letter-spacing: 0.4px;
	margin-bottom: 40px;
}
/*about end*/
/*service start*/
.service{
	/*border: 1px solid red;*/
	margin-top: 100px;
}
.single{
	float: left;
	width: 46%;
	/*border: 1px solid red;*/
	padding-bottom: 7px;
}
.single img{
	width:100%;
}
.paraghaph{
	text-align: justify;
	font-size: 15px;
	letter-spacing: 0.1px;
}
.single2{
	float: right;
	width: 46%;
	/*border: 1px solid red;*/
	padding-bottom: 6px;
}
.single2 img{
	width: 100%;
}
/*service end*/
.newsletter{
	background-color: #f0f0f0;
	padding: 50px 0;
}
.wrapper3{
	width: 60%;
	margin: 0 auto;
}
.signup{
	text-align: center;
}
.signup h2{
	font-size: 30px;
	margin-bottom: 100px;
}
.for_form{
	width: 350px;
	position: relative;
	left: 0;
	right: 0;
	top:-24px;
	margin: 0 auto;
}
.for_form input{
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	font-size: 16px;
	padding: 10px 154px 10px 4px;
	outline: none;
} 
.for_form button{
	border: none;
	background: transparent;
	position: absolute;
	top: 10px;
	right: 0px;

}
.for_form button img{}

/*!-- button start -->*/
.Bt{
	padding: 100px 0;
}
.load{
	text-align: center;
}
.load button{
	font-family: 'Playfair Display', serif;
	color: #626262;
	font-size: 20px;
	width: 165px;
	height: 60px;
	outline: none;
	background-color: transparent;
	border: 1px solid #626262;
}
.load button:hover{
	background-color: black;
}

/*<!-- button end -->*/
/*footer start*/
/*footer start*/
footer{
	background-color: #f0f0f0;
	padding: 20px 0;
}
.terms{
	width: 25%;
	float: left;
}
.terms ul, .icons ul{
	margin: 0;
	padding: 0;
}
.terms ul li, .icons ul li{
	list-style: none;
	float: left;
}
.terms ul li a{
	color: #000000;
	text-decoration: none;
	text-transform: capitalize;
	display: inline-block;
	padding: 5px 5px;
}
.icons{
	width: 25%;
	float: right;
}
.icon ul{
	float: right;
}
.icons ul li span{
	padding: 0px 10px;
}
.icons ul li a{
	color: #000000;
	text-decoration: none;
	text-transform: capitalize;
	display: inline-block;
	padding: 0px 10px;
}

/*footer end*/ 
